{:kotoba.app/id "cloud.itonami.isic-1920", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie3lw36yxtp4ludqvdxykhsmlbsxdgwqvkf3qzwatj3kqp3aoavqy", :kotoba.app/embed-url "ipfs://bafkreie3lw36yxtp4ludqvdxykhsmlbsxdgwqvkf3qzwatj3kqp3aoavqy", :published {:archive "https://kotobase.net/ipfs/bafkreie3lw36yxtp4ludqvdxykhsmlbsxdgwqvkf3qzwatj3kqp3aoavqy", :size 4818, :put-status 201, :get-status 200, :at "2026-08-15T13:36:52.134Z"}}
